.input{
    display: flex;
    flex-direction: column;
    width: 240px;
    height: 110px;
}
.input label{
    padding: 30px 0;
}
.input input{
    outline: none;
    border-bottom: 2px solid #666666;
    background-color: #efefef;
    font-size: 20px;
}
