
.simulator{
    max-width: 38rem;
}
.simulator-title{
    display: flex;
    margin-bottom: 1rem;

}
.buttons-container{
    display: flex;
    justify-content: space-between;
}

form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 30px;
}



@media (max-width: 1500px) {
    .simulator{
        margin: 0 auto;
        max-width: 45rem;
    }
    .results{
        margin: 0 auto;
        max-width: 45rem;
    }
    .simulator-title{
        display: flex;
        justify-content: center;
        margin: 2rem auto
    
    }
  
    }
    @media  (max-width: 599px){
        form{
            justify-content: center;
        }
    }