.form-buttons{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 30px;
}
.form-buttons button{
    width: 100%;
    height: 60px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    cursor:pointer;
}

.form-buttons button:first-child{
    border: 2px solid black;
}

.form-buttons button:last-child{
    background-color: #969696;
}
#form-btn-active{
    background-color: #ed8e53
}
@media (max-width: 593px) {
    .form-buttons{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .form-buttons button{
        width: 14.8rem;


    }
}