.form-buttons{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 30px;
}
.form-buttons button{
    width: 100%;
    height: 60px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
}

.form-buttons button:first-child{
    border: 2px solid black;
}

.form-buttons button:last-child{
    background-color: #969696;
}