.container{
    background-color: #efefef;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: 2.5%;
}
.title{
    margin: 0 auto;   
}

.form-container{
    display: flex;
    padding: 2.5%;
}
