.container{
    background-color: #efefef;
    width: 95vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: 2%;
}
.title{
    margin: 0 auto; 
    padding-top: 1rem;  
}
.form-container{
    display: flex;
    padding: 2.5%;
    column-gap: 4rem;
}
@media (max-width: 1500px) {
    .form-container{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
  
}
@media (max-width: 599px) {
    .title h1{
    font-size: 1.6rem;  
    }
}
@media only screen and (max-width: 2000px) and (min-width: 1675px)  { 
    .container{
        width: 77%;
    }
}

