*{
  margin: 0;
  padding: 0;
  
}
.onSide{
  display: flex;
  flex-direction: row;
  gap: 50px;
  background-color: #efefef;
  width: 95%;
  align-self: center;
}
.sup{
  display: flex;
  justify-content: center;
  flex-direction: column;
  
}

@media (max-width: 1110px) {
  .onSide{
    flex-direction: column;
    align-items: center;
  }
}
/* 
@media (max-width: 768px) {
  .onSide{
    flex-direction: column;

  }
} */